<ion-header>
  <ion-toolbar>
    <ion-title>
      iHeart  
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">

    <ion-list>

      <ion-list-header>
        <ion-label>Siapakah nama anda?</ion-label>
      </ion-list-header>
      <ion-item>
          <ion-input type="text" name="name" [(ngModel)] = "Name"></ion-input>
      </ion-item>

      <ion-radio-group [(ngModel)] = "Jenis">
          <ion-list-header>
            <ion-label>Jenis Kelamin</ion-label>
          </ion-list-header>
      
          <ion-item>
            <ion-label>Laki-laki</ion-label>
            <ion-radio slot="start" value="1" name="sex" checked></ion-radio>
          </ion-item>
      
          <ion-item>
            <ion-label>Perempuan</ion-label>
            <ion-radio slot="start" value="0" name="sex"></ion-radio>
          </ion-item>
      </ion-radio-group>

      <ion-list-header>
        <ion-label>Berapakah umur anda?</ion-label>
      </ion-list-header>
      <ion-item>
          <ion-input type="text" name="age" [(ngModel)] = "Age"></ion-input>
      </ion-item>

      <ion-list-header>
          <ion-label>Berapakah tekanan darah anda?</ion-label>
        </ion-list-header>
        <ion-item>
          <ion-input [(ngModel)] = "Darah" type="text" name="trestbps"></ion-input>
      </ion-item>

      
      <ion-radio-group [(ngModel)] = "Gula">
        <ion-list-header>
          <ion-label>Apakah anda memiliki riwayat gula darah?</ion-label>
        </ion-list-header>
    
        <ion-item>
          <ion-label>Ya</ion-label>
          <ion-radio slot="start" value="1" name="fbs" checked></ion-radio>
        </ion-item>
    
        <ion-item>
          <ion-label>Tidak</ion-label>
          <ion-radio slot="start" value="0" name="fbs"></ion-radio>
        </ion-item>
      </ion-radio-group>
      
      <ion-list-header>
          <ion-label>Berapakah detak jantung anda dalam satu menit?</ion-label>
        </ion-list-header>
        <ion-item>
          <ion-input [(ngModel)] = "Jantung" type="text" name="thalac"></ion-input>
      </ion-item>

      <ion-radio-group [(ngModel)] = "Exang">
        <ion-list-header>
          <ion-label>Apakah anda mwerasakan sakit pada dada saat berolahraga?</ion-label>
        </ion-list-header>
    
        <ion-item>
          <ion-label>ya</ion-label>
          <ion-radio slot="start" value="1" name="exang" checked></ion-radio>
        </ion-item>
    
        <ion-item>
          <ion-label>tidak</ion-label>
          <ion-radio slot="start" value="0" name="exang"></ion-radio>
        </ion-item>
      </ion-radio-group>

      <ion-radio-group [(ngModel)] = "Thalasemia">
        <ion-list-header>
          <ion-label>Apakah anda memiliki penyakit Thalasemia?</ion-label>
        </ion-list-header>
        <ion-item>
            <ion-label>Tidak tahu.</ion-label>
            <ion-radio slot="start" value="0" name="thal" checked></ion-radio>
          </ion-item>
    
        <ion-item>
          <ion-label>Tidak ada penyakit Thalasemia.</ion-label>
          <ion-radio slot="start" value="3" name="thal" checked></ion-radio>
        </ion-item>
    
        <ion-item>
          <ion-label>Ada penyakit Thalasemia Minor.</ion-label>
          <ion-radio slot="start" value="6" name="thal"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Ada penyakit Thalasemia Mayor.</ion-label>
          <ion-radio slot="start" value="7" name="thal"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
  </div>
  <div class="ion-padding">
    <ion-button (click) = "onSubmit()">Submit</ion-button>
  </div>
</ion-content>
