<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-input [(ngModel)] = "Nama"></ion-input>
    <ion-input [(ngModel)] = "Umur"></ion-input>
    <ion-input [(ngModel)] = "JenisKelamin"></ion-input>
    <ion-input [(ngModel)] = "TekananDarah"></ion-input>
    <ion-input [(ngModel)] = "GulaDarah"></ion-input>
    <ion-input [(ngModel)] = "Thalach"></ion-input>
    <ion-input [(ngModel)] = "Exang"></ion-input>
    <ion-input [(ngModel)] = "Thal"></ion-input>
</ion-content>
